header {
     display: flex;
     align-items: center;
     justify-content: center;
     height: 400px;
     background: url(https://images.unsplash.com/photo-1527022206739-2c7edca55829?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) bottom no-repeat;
     background-size: cover;
}
h1 {
    color: rgb(255, 255, 255);
    font-size: 4rem;
    font-family: 'Times New Roman', Times, serif;
}

footer {
    padding-top: 20px;
    padding-bottom: 60px;
    text-align: center;
}

footer .links {
    margin-bottom: 50px;
}

footer .links > a {
    color: rgb(76, 82, 100);
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.copyright {
    color: rgb(71, 73, 75);
    font-family: 'Times New Roman', Times, serif;
}